.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.search-form {
  margin: 50px;
  display: flex;
  justify-content: center;
}
.search-form input {
  border-color: chocolate;
  height: 30px;
  border-radius: 15px;
  border-color: chocolate;
}
.search-form button {
  border-color: chocolate;
  height: 30px;
  border-radius: 15px;
}
.load-more {
  margin: auto;
  display: flex;
  justify-content: center;
}
.gallery__link img {
  margin: auto;
  border-radius: 20px;
}
.gallery__link {
  margin: auto;
  display: flex;
  justify-content: center;

  /* height: 100%; */
}
img {
  display: block;
  max-width: 100%;
}
